<section id="mainSection" id="top">
  <aside id="mainAside" class="userInfo">
    
      <div class="card">
		    <div class="card-content" style="padding: 0px;">
		      <%= image_tag current_user.profile_picture_url, class: "profile_picture" %>
		    </div>
		    <div class="card-tabs">
		      <ul class="tabs">
		        <li class="tab"><a class="active" href="#username">Name</a></li>
		        <li class="tab"><a href="#followers">Followers</a></li>
		        <li class="tab"><a href="#following">Following</a></li>
		      </ul>
		    </div>
		    <div class="card-content grey lighten-4">
		      <div id="username"><%=current_user.name%></div>
		      <div id="followers"><%=current_user.followers.count%></div>
		      <div id="following"><%=current_user.followees.count%></div>
		    </div>
		  </div>
  </aside>
  <main id="mainMain">
		<%= form_tag '/create_tweet_remote', id: "create_tweet", remote: true do %>
		    <%= text_area_tag :content,nil, class: "rounded" %>
		    <%= submit_tag "Create Tweet" %>
		<% end %>

		</br>
		<%= form_tag '/search', method: :get do %>
		    <%=   autocomplete_field_tag 'email', '', autocomplete_user_email_path, :size => 20, :update_elements => {}%>
		    <%= submit_tag 'search user' %>
		<% end %>
		</br>	
		<div class="tweets" id="tweets">
		  <% @tweets.each do |tweet| %>

		<%= render 'tweet' , :tweet => tweet %>

		  <% end %>
		</div>
	</main>
</section>



